$ink-blue: #2f495d;
$light-grey: #606f7b;
$light-blue: rgb(47, 158, 242);
$light-green: #00c58e;
$border-shadow: rgba(25, 25, 25, 0.1);
$p-color: #2f495e;

* {
  box-sizing: border-box;
}

*,
:after {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "Arail";
  margin: 0;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

.nav-link {
  color: $ink-blue !important;
}
.nav-link:hover {
  color: $light-blue !important;
}

.visible-lg {
  @media screen and (min-width: 768px) {
    visibility: visible !important;
  }
}

// article display
.article-content {
  h1{
    font-size: 1.4rem !important;
    font-weight: 600;
    color: $ink-blue;
  }
  h2 {
    font-size: 1.2rem !important;
    font-weight: 600;
    color: $ink-blue;
  }
  h3 {
    font-size: 1.1rem !important;
    font-weight: 600;
    color: $ink-blue;
  }
  span {
    font-size: 1.2rem !important;
  }
  p {
    padding-top: 2rem;
    color: #2f495e !important;
    line-height: 1.625;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    > span {
      font-size: 1.2rem !important;
    }
  }
  pre {
    margin-top: 2rem;
    display: block;
    overflow: auto;
    word-wrap: normal;
    word-break: normal;
    padding: 28px 24px;
    font-size: 1rem !important;
    background-color: #f6f6f6;
    border-radius: 4px;
    color: #68747f;
  }
  ol {
    padding-inline-start: 2rem;
  }
  ul {
    padding-inline-start: 2rem;
  }
}
